


body {
    margin: 0;
    background:rgb(2, 4, 23);
    text-align: center;
    font-family: sans-serif;
  }

  .container {
    position: relative;
    width: 320px;
    margin: 100px auto;
    perspective: 170px;
  }

  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
  }

  .carousel__face {
    position: absolute;
    width: 320px;
    height: 187px;
    left: 10px;
    right: 10px;
    background-size: cover;
    display: flex;
  }

  span {
    margin: auto;
    font-size: 2rem;
  }


  .carousel__face:nth-child(1) {
    background-image: url("images/tswira4");
    transform: rotateY(0deg) translateZ(300px);
  }

  .carousel__face:nth-child(2) {
    background-image: url("images/tswira2");
    transform: rotateY(60deg) translateZ(300px);
  }

  .carousel__face:nth-child(3) {
    background-image: url("images/tswira3");
    transform: rotateY(120deg) translateZ(300px);
  }

  .carousel__face:nth-child(4) {
    background-image: url("images/tswira1");
    transform: rotateY(180deg) translateZ(300px);
  }

  .carousel__face:nth-child(5) {
    background-image: url("images/tswira5");
    transform: rotateY(240deg) translateZ(300px);
  }

  .carousel__face:nth-child(6) {
    background-image: url("images/tswira6");
    transform: rotateY(300deg) translateZ(300px);
  }



  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(-360deg);
    }
  }
.backForm {
    background-color: rgb(2, 4, 23);
    filter:drop-shadow(-5px 5px 17px #85786e37);

}
.bacForm {

  filter:drop-shadow(-20px 20px 20px rgb(3, 6, 23));
}
.baorm {
  background-color: rgb(2, 4, 23);
  filter:drop-shadow(0px 5px 17px #02001b99);

}